@media only screen and (min-width: 360px) and (max-width: 928px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  h1 {
    font-size: 260%;
    white-space: nowrap;
  }
  h2 {
    font-size: 90%;
    white-space: nowrap;
    text-align: center;
  }
  h3 {
    font-size: 20px;
    padding-top: 5px;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    background-color: #d1ccc0;
    font-family: "Cinzel", serif;
    color: #235731;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .flex-container .logo1 {
    display: none;
  }
  .container-fluid {
    letter-spacing: 3px;
    text-align: center;
    list-style: none;
  }
  .container-fluid .navbar-toggler {
    border: none;
  }
  .container-fluid .navbar-toggler a {
    background-color: #d1ccc0;
    color: black;
    padding: 8px 10px;
    font-family: "Cinzel", serif;
    font-size: 13px;
  }
  .container-fluid .navbar-toggler a:hover {
    background-color: #235731;
  }
  .nav-item a {
    background-color: #d1ccc0;
    color: black;
    text-decoration: none;
    padding: 8px 10px;
    font-family: "Cinzel", serif;
    font-size: 13px;
    margin-top: 8px;
  }
  .nav-item a:hover {
    background-color: #235731;
  }
  .nav-item a:hover .dropdown-item {
    text-decoration: none;
    font-size: 10px;
    position: relative;
  }
  .card {
    border: none;
  }
  .card .card-title {
    text-align: center;
  }
  .logo img {
    width: 70px;
    margin-right: 15px;
    margin-top: 7px;
  }
  .fondo {
    margin-top: 12px;
    background-image: url("../images/fondo1.jpg");
  }
  .fondo img {
    width: 360px;
  }
  #fotos {
    margin-left: 150px;
    margin-top: 60px;
  }
  footer {
    background: #d1ccc0;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    margin-top: 100px;
  }
  .local {
    margin-top: 110px;
    margin-left: 30px;
  }
  .local img {
    width: 200px;
    margin-top: 50px;
    margin-left: 65px;
  }
  .parrafo {
    font-family: "Cinzel", serif;
    font-size: 15px;
    text-align: center;
    color: #235731;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .producto {
    font-family: "Cinzel", serif;
    color: #235731;
    background-color: #d1ccc0;
    text-align: center;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    padding: 1px;
    margin-top: 8px;
  }
  .maquinaescribir {
    position: relative;
  }
  .maquinaescribir::after {
    content: "";
    border-left: 2px solid black;
    background: #d1ccc0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-animation: maquinaescribir 2s infinite alternate steps(26);
            animation: maquinaescribir 2s infinite alternate steps(26);
  }
  @-webkit-keyframes maquinaescribir {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  @keyframes maquinaescribir {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  .unisex {
    width: 180px;
    margin-left: 90px;
  }
  .grid-contacto {
    display: inline-block;
  }
  .grid-contacto .contactanos {
    display: inline-block;
    text-align: center;
    margin-left: 75px;
    margin-top: 25px;
  }
  .grid-contacto .contactanos legend {
    border: 1px solid black;
  }
  .delantal {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 175px;
    justify-content: center;
    justify-items: center;
  }
  .delantal img {
    width: 220px;
  }
  .delantal img:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  .delantal img:hover .imgdelantal1 {
    display: none;
  }
  .imgdelantal1 {
    display: none;
  }
  .btn-redes {
    display: none;
  }
  .btn-primary {
    display: flex;
    align-items: center;
    width: 33%;
    margin-left: 110px;
    text-align: center;
    background-color: #235731;
    color: white;
    border: none;
  }
}
@media only screen and (min-width: 929px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  h1 {
    font-size: 400%;
  }
  h2 {
    font-size: 200%;
  }
  h3 {
    font-size: 20 px;
    letter-spacing: 3px;
    padding-top: 5px;
  }
  h4 {
    font-size: 20px;
    letter-spacing: 3px;
  }
  .container-fluid {
    letter-spacing: 3px;
    list-style: none;
  }
  .container-fluid a {
    background-color: #d1ccc0;
    color: black;
    list-style: none;
    padding: 8px 10px;
    font-family: "Cinzel", serif;
    font-size: 13px;
  }
  .container-fluid a:hover {
    background-color: #235731;
  }
  .inicio {
    margin-left: 259px;
  }
  .contac {
    margin-right: 50px;
  }
  .dropdown-item {
    text-decoration: none;
    font-size: 10px;
    margin-top: 3px;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    background-color: #d1ccc0;
    font-family: "Cinzel", serif;
    color: #235731;
  }
  .flex-container div {
    text-align: center;
  }
  .d-flex {
    width: 15%;
  }
  .logo {
    padding-top: 15px;
    margin-right: 100px;
  }
  .logo1 {
    padding-top: 15px;
    margin-left: 100px;
  }
  .fondo {
    margin-top: 12px;
    background-image: url("../images/fondo1.jpg");
    background-repeat: unset;
    background-position: center;
  }
  #fotos {
    margin-left: 150px;
    margin-top: 60px;
  }
  footer {
    background-color: #d1ccc0;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    margin-top: 100px;
  }
  footer p {
    margin-bottom: 2px;
  }
  .local {
    margin-left: 120px;
    margin-top: 12px;
  }
  .parrafo {
    font-family: "Cinzel", serif;
    font-size: 25px;
    text-align: center;
    color: #235731;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .producto {
    font-family: "Cinzel", serif;
    color: #235731;
    background-color: #d1ccc0;
    text-align: center;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    margin-left: 375px;
    margin-right: 375px;
    padding: 1px;
  }
  .delantal {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .delantal div {
    margin: 50px;
  }
  .imgdelantal:hover {
    transform: scale(1.3);
  }
  .imgdelantal1:hover {
    transform: scale(1.3);
  }
  .maquinaescribir {
    position: relative;
  }
  .maquinaescribir::after {
    content: "";
    border-left: 2px solid black;
    background: #d1ccc0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-animation: maquinaescribir 2s infinite alternate steps(26);
            animation: maquinaescribir 2s infinite alternate steps(26);
  }
  @-webkit-keyframes maquinaescribir {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  @keyframes maquinaescribir {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  .unisex {
    width: 200px;
    margin-left: 130px;
  }
  .card {
    border: none;
  }
  .card .card-title {
    text-align: center;
  }
  .card-group {
    margin-top: 30px;
  }
  .grid-contacto {
    display: grid;
    margin-top: 40px;
    grid-template-columns: 400px 400px;
    justify-content: center;
  }
  .grid-contacto .contactanos {
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 5px;
    border: solid 1px black;
  }
  .suscribite {
    text-align: center;
    margin-top: 40px;
    font-family: "Cinzel", serif;
    color: #235731;
    background-color: #d1ccc0;
    margin-left: 375px;
    margin-right: 375px;
  }
  .suscribite p {
    font-size: 25px;
  }
  .contador {
    width: 40px;
    margin-left: 170px;
    display: flex;
    margin-bottom: 18px;
  }
  #contador {
    margin-left: 190px;
    font-size: 20px;
  }
  .btn-primary {
    display: flex;
    align-items: center;
    width: 33%;
    margin-left: 140px;
    text-align: center;
    background-color: #235731;
    color: white;
    border: none;
  }
  .precio {
    margin-left: 190px;
  }
}/*# sourceMappingURL=style.css.map */